@import "./variables.css";

body {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    min-height: 100dvh;
}
h1 {
    font-family: var(--main-font);
    font-size: var(--heading-size);
    font-weight: var(--bold-weight);
    margin: 0;
    
}
p {
    font-family: var(--main-font);
    font-size: var(--paragraph-size);
    line-height: var(--text-lineheight);
    letter-spacing: var(--text-letter-spacing);
    margin: 0;
}
.card {
    background-color: var(--white);
    max-width: 384px;
    max-height: 522px;
    border-radius: 10px;
    overflow: hidden;
    font-family: var(--font);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 8px 8px #000000;
    border: 1px solid #000000
}
.card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
figure {
    margin: 0;
    width: 100%;
}
img {
    border-radius: 10px;
    width: 100%;
}
.tag {
    background-color: var(--yellow);
    color: var(--dark-grey);
    font-size: var(--paragraph-size);
    font-weight: var(--bold-weight);
    padding: 4px 12px;
    border-radius: 4px;
    max-width: 82px;
    text-align: center;
}
.date {
    font-family: var(--main-font);
    font-size: var(--paragraph-size);
    color: var(--dark-grey);
}
.description {
    font-size: var(--sub-heading-size);
    color: var(--light-grey);
}
.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
}
.author figure {
    width: auto;
}
.author img {
    width: 32px;
    height: 32px;
}
.author p {
    font-family: var(--main-font);
    font-size: var(--paragraph-size);
    color: var(--dark-grey);
    font-weight: var(--bold-weight);
}